@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Halant:wght@600&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #404040;
}

/* //////////////////////////////// */

#hero1 {
  width: 70%;
  height: 70%;
  background-color: #ffffff;
  padding-top: 0.5%;
}

.Navbar {
  width: 88%;
  height: 88%;
  margin-top: 2%;
  border: 1px solid #155eef;
  border-radius: 8px;
  display: flex;
  font-family: "Halant", serif;
}

.Flex-container {
  width: 24%;
  padding: 2%;
  display: flex;
  list-style: none;
  decorators: none;
  align-items: center;
  justify-content: space-between;
  font-family: "Halant", serif;
}

#img {
  padding: 1%;
  padding-left: 3%;
  padding-right: 51%;
  cursor: pointer;
}

.home {
  cursor: pointer;
}
.abt {
  cursor: pointer;
}

.hire {
  border: 1px solid #155eef;
  border-radius: 8px;
  padding: 2%;
  cursor: pointer;
  color: #155eef;
}

.menuu {
  display: none;
}

/* //////////////////////////////// */

#hero2 {
  width: 88%;
  margin-top: 2%;
  border: 1px solid #155eef;
  border-radius: 8px;
  display: flex;
  font-family: "Halant", serif;
  justify-content: space-between;
  align-items: center;
}

.texthero2 {
  text-align: left;
  font-family: "Halant", serif;
  padding-left: 4%;
}

.texthero2 h3 {
  font-size: 24px;
  line-height: 150%;
  color: #2e3a53;
}

.texthero2 span {
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  color: #155eef;
}

.texthero2 p {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #2e3a53;
  padding-bottom: 4%;
  font-family: "Manrope", serif;
}

.butn {
  width: 164px;
  height: 44px;
  background: #155eef;
  border-radius: 8px;
  border: 1.5px solid #155eef;
  padding: 1% 1%;
  cursor: pointer;
}

.texthero2 button {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-family: "Manrope", serif;
}

.imghero2 {
  padding: 4%;
}

/* ///////////////////////////// */

#hero3 {
  width: 88%;
  margin-top: 2%;
  border: 1px solid #155eef;
  border-radius: 8px;
  display: flex;
  font-family: "Halant", serif;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f9fbff; */
}

.imghero3 {
  padding: 4%;
}

.texthero3 h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #041330;
  text-align: justify;
}
.texthero3 p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: justify;
  letter-spacing: 0.5px;
  color: #2e3a53;
  padding-right: 5%;
  font-weight: 500;
  font-family: "Manrope", serif;
}
/* //////////////////////////// */

/* #projects {
  width: 88%;
  height: 780px;
  margin-top: 2%;
  border: 1px solid #155eef;
  border-radius: 8px;
  display: flex;
  font-family: "Halant", serif;
  justify-content: space-between;
  align-items: center;
} */

/* .link {
  position: relative;
  z-index: 2;
  padding-left: 1%;
  height: 75%;
  width: 50%;
} */
/* .face {
  position: relative;
  top: 9%;
  right: 14%;
} */

/* //////////////////////////// */
.foot {
  width: 88%;
  border: 1px solid #155eef;
  border-radius: 8px;
  display: flex;
  font-family: "Halant", serif;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
}
.imgg {
  padding-left: 3%;
}

.logofooter {
  gap: 80%;
  display: flex;

  logofooter .fb {
    margin-right: 5%;
    cursor: pointer;
  }
  logofooter .tw {
    margin-right: 5%;
    cursor: pointer;
  }
  logofooter .insta {
    margin-right: 5%;
    cursor: pointer;
  }
}

.butomtext p {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.5%;
  color: #041330;
  padding-right: 35px;
  font-family: "Manrope", serif;
}





/* MEDIA QUERIES */

@media screen and (max-width: 1745px) {
  .Navbar {
    /* background-color: #f9f; */
  }

  .Flex-container {
    justify-content: flex-end;
    items-align: center;
  }

  .menuu {
    display: block;
  }

  .home {
    display: none;
  }
  .abt {
    display: none;
  }
  .hire {
    display: none;
  }

  /* ////////////////////// */
  #hero2 {
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .texthero2 {
    text-align: center;
    align-items: center;
  }
  .imghero2 {
    min-width: 10% !important;
    height: 16%;
  }

  .butn {
    width: 466px;
    height: 44px;
  }
  /* ////////////////////// */

  #hero3 {
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .texthero3 h2 {
    text-align: center;
  }
  .imghero3 {
    min-width: 10% !important;
    height: 1%;
  }

  .foot {
    display: flex;
    text-align: center;
    padding: 0px 0px 16px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fb {
    margin-right: 20%;
    cursor: pointer;
  }
  .tw {
    margin-right: 20%;
    cursor: pointer;
  }
  .insta {
    cursor: pointer;
  }

  .logofooter {
    gap: 5%;
  }
}

@media screen and (max-width: 1005px) {
  .Flex-container {
    justify-content: flex-end;
    items-align: center;
  }
  #hero2 {
    padding: 1% 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #hero3 {
    padding: 1% 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 988px) {
  #img {
    padding-right: 25%;
  }
  .butn {
    width: 266px;
    height: 44px;
  }
}

@media screen and (max-width: 628px) {
  #img {
    padding-right: 0%;
  }
}
